nav {
    position: fixed;
    z-index: 9999;
    width: 100%;
    /* height: 75px; */
    background: linear-gradient(45deg, rgb(103, 182, 250), midnightblue);
}

.list {
    list-style-type: none;
    background: linear-gradient(45deg, rgb(103, 182, 250), midnightblue);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.items {
    margin-right: 15px;
    font-size: 20px;
    color: #f1f1f1;
    cursor: pointer;
    display: block;
}

.btn {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    border-color: rgb(3, 10, 94);
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #838aef;
    font-size: 18px;
}

@media screen and (max-width: 1000px) {

    .list {
        flex-direction: column;
        height: auto;
    }

    .items:nth-child(1) {
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }

    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }

    .btn {
        display: block;
    }
}

.nav-name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2 10px;
    font-size: 200%;
    font-weight: 800;
    color: rgb(1, 8, 28);
    text-transform: uppercase;
    text-decoration-style: wavy;
}

.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 180%;
    margin: 1 15px;
}

.border-style:hover {
    background-image: linear-gradient(to left, #090f7d, #fbffff);
    transform: scale(1.1);
    border: none;
    color: rgba(255, 255, 255, 0.271);
}